body {
    background-image: url("https://source.unsplash.com/user/erondu/1600x900");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    display: table;
    width: 100%;
    height: 100%;
    background-color: coral;
}